<span id="title">Employees</span>
<select id="select" class="ui right pointing dropdown">
  <option value="">All departments</option>
  <option value="0">Auditing</option>
  <option value="1">Development</option>
</select>

<a id="item" routerLink="/dep">
  <div class="ui menu">
    <img id="image" src="assets/default-icon.png">
    <span id="text">
      Giovanna M.
    </span>
    <a routerLink="/" id="modifyButton" class="ui primary button">
      Modify
    </a>
    <a routerLink="/" id="deleteButton" class="ui button">
      Delete
    </a>
  </div>
</a>
<a id="item" routerLink="/dep">
  <div class="ui menu">
    <img id="image" src="assets/default-icon.png">
    <span id="text">
      Rafael M.
    </span>
    <a routerLink="/" id="modifyButton" class="ui primary button">
      Modify
    </a>
    <a routerLink="/" id="deleteButton" class="ui button">
      Delete
    </a>
  </div>
</a>
