#select {
  width: 15vw;
  height: 2.5vw;
  font-size: 1.1vw;
  color: #000000;
  position: absolute;
  right: 1vw;
}

#image {
  margin-left: 0.5vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  width: 4vw;
  height: auto;
  border-radius: 100vw;
}
