#title {
  display:inline-block;
  margin-top: 0.5vw;
  margin-left: 0.5vw;
  font-size: 1.5vw;
  font-weight: bold;
}

.ui.menu {
  display: flex;
  margin-top: 1vw;
  align-items: center;
}

#image {
  margin-left: 0.5vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  width: 3.5vw;
  height: auto;
  border-radius: 100vw;
}

#employee {
  margin-left: 1vw;
  font-size: 2.5vh;
  color: #000000;
}

#modifyButton {
  font-size: 1vw;
  position: absolute;
  right: 9vw;
}

#deleteButton {
  font-size: 1vw;
  position: absolute;
  right: 2vw;
}
