<div>
  <span id="title">Employees</span>

</div>
<a routerLink="/dep">
  <div class="ui menu">
    <img id="image" src="assets/default-icon.png">
    <span id="employee">Rafael Nutti Maldonado</span>
    <button routerLink="/abluble" id="modifyButton" class="ui primary button">
      Modify
    </button>
    <button id="deleteButton" class="ui button">
      Delete
    </button>
  </div>
</a>
<a routerLink="/dep">
  <div class="ui menu">
    <img id="image" src="assets/default-icon.png">
    <span id="employee">Rafael Nutti Maldonado</span>
    <button routerLink="/abluble" id="modifyButton" class="ui primary button">
      Modify
    </button>
    <button id="deleteButton" class="ui button">
      Delete
    </button>
  </div>
</a>
