<h1>Employees</h1>
<div class="item">
  <img id="image" src="assets/default-icon.png">
  <span id="employee">Employee 1</span>
  <button id="modifyButton" class="ui primary button">
    Modify
  </button>
  <button id="deleteButton" class="ui button">
    Delete
  </button>
</div>
<div class="item">
  <img id="image" src="assets/default-icon.png">
  <span id="employee">ausdhiauishduihasduihauihsduihaiuhsdiuahsdiasdasduh</span>
  <button id="modifyButton" class="ui primary button">
    Modify
  </button>
  <button id="deleteButton" class="ui button">
    Delete
  </button>
</div>
