@import 'semantic-ui-css/semantic.css';

#title {
  display:inline-block;
  margin-top: 0.7vw;
  margin-bottom: 1.8vw;
  margin-left: 0.5vw;
  font-size: 2vw;
  font-weight: bold;
}

#item {
  margin: 5vw;
}

.ui.menu {
  display: flex;
  align-items: center;
}

#text {
  margin-left: 1.2vw;
  font-size: 1.4vw;
  color: #000000;
}

#modifyButton {
  font-size: 1.1vw;
  position: absolute;
  right: 9vw;
}

#deleteButton {
  font-size: 1.1vw;
  position: absolute;
  right: 1.7vw;
}
