<span id="title">Departments</span>

<a id="item" routerLink="/employees">
  <div class="ui menu">
    <span id="abbreviation">
      ADT
    </span>
    <span id="text">
      Audit
    </span>
    <a routerLink="/" id="modifyButton" class="ui primary button">
      Modify
    </a>
    <a routerLink="/" id="deleteButton" class="ui button">
      Delete
    </a>
  </div>
</a>
<a id="item" routerLink="/employees">
  <div class="ui menu">
    <span id="abbreviation">
      DEV
    </span>
    <span id="text">
      Development
    </span>
    <a routerLink="/" id="modifyButton" class="ui primary button">
      Modify
    </a>
    <a routerLink="/" id="deleteButton" class="ui button">
      Delete
    </a>
  </div>
</a>
